@import '../../../styles/colors';

.container {
  border: 1px solid $light-gray;
  background-color: inherit;
  border-radius: 4px;
  box-shadow: 0.5px 0.5px 3px $dark-gray;
  color: inherit;
  border: none;
  padding: 0 0.5rem;
  font: inherit;
  cursor: pointer;
  outline: none;
}
